{% extends 'Reserve_Class/base.html' %}

{% block title %} Listado de Clase {% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Clase</h2>
            <a href="{% url 'clase-create' %}" class="btn btn-success">Crear Clase</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Disponible</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if SANTIAGOMOTORIZADO %}
                {% for Clase in SANTIAGOMOTORIZADO %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ clase.disponible }}</td>
                    <td>{{ clase.nombre }}</td>
                    <td>{{ clase.capacidad }}</td>
                    <td>{{ clase.descripcion }}</td>
                    <td>
                        <a href="{% url 'clase-update' clase.id %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'clase-delete' clase.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        <a href="{% url 'clase-detail' clase.id %}" class="btn btn-primary btn-sm">Ver</a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7">No hay Clase disponibles.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
