{% extends 'Reserve_Class/base.html' %}

{% block title %}Crear Reserva{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h2 class="mb-4">Crear Reservas</h2>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Datos de la reserva
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'yyy' %}"> 
                            {% csrf_token %}
                            {{ create_form.as_p }}
                            <button type="buscar" class="btn btn-primary">Envíar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
