{% extends 'Reserve_Class/base.html' %}

{% block title %} Listado de Clase {% endblock %}

{% block content %}
<h3>{% if object %}Edit Clase: {{ object.nombre }}{% else %}New Clase{% endif %}</h3>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            Datos de la Clase
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Envíar</button>
                                <a href="{% url 'vbc_clase_list' %}">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
